{% extends 'base.html' %}

{% block content %}
    <div class="container">
        
        
     {% include 'navbar.html' %}
        
        <style>
#resultBox {
  margin-top: 20px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  line-height: 30px;
}

#resultBox.correct {
  background-color: #53dc87;
}

#resultBox.incorrect {
  background-color: #ff4f61;
}

        </style>

        <div
  style="
    padding: 10px;
    background-color: black;
    border-radius: 6px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <span
    >🔔 Please note that this challenge must be done only through manual methods, without the use of brute force or automated tools nothing will work
    &nbsp;
  </span>
</div>


         <div align="center" class="warmups">
            <h2>Challenge Description</h2>
            <h3>Hack this Corporation</h3>
             <a href="https://initcorp.tech"><h5>initcorp.tech</h5></a>
            <p>All the flags that you find can be submitted using the input field below.</p>
            <hr>
            <form method="post" action="{% url 'challenges' %}">
                {% csrf_token %}
                <h4>Enter the flag:</h4>
                <div class="input-container neon-retro">
                    <input type="text" id="flagInput" name="flag" placeholder="Enter flag">
                </div><br>
                <button type="submit" class="btn">Submit</button>
            </form>
            <br>
            {% if flag %}
                {% if flag == "correct" %}
                    <div id="resultBox" class="correct">
                              {{ flag }}
                    </div>
                {% else %}
                    <div id="resultBox" class="incorrect">
                              {{ flag }}
                  </div>
               {% endif %}
            {% endif %}
              </div>
      
        
{% endblock content %}
